.menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1f1f1f62;

  &-content {
    position: absolute;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background: var(--color-2);
    padding: 40px;
    transition: all 0.2s;

    &__close {
      position: absolute;
      top: -5px;
      right: 20px;
      font-size: 50px;
      transition: all 0.3s;
      cursor: pointer;

      & .menu-content-list {
        margin-top: 30px;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    &-list__item {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;

    & .menu-content {
      right: 0;
    }
  }
}
