.header {
  box-shadow: 0px 0px 10px var(--color-1);
  padding: 30px 0;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__logo span:first-child {
  position: relative;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header__logo span:first-child::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  width: 60px;
  height: 60px;
  background-color: var(--color-3);
  opacity: 0.5;
  border-radius: 50%;
  z-index: -1;
}

.header__logo span:first-child::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  height: 50px;
  width: 1px;
  background-color: var(--color-3);
}

.header__logo span:last-child {
  display: inline-block;
  width: 250px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
